Repository seung-lab/cloud-volume, pull requests merged in 2021-04, with the labels that each got.

#455 fix: raise errors from green threads
  cloudvolume/scheduler.py
  test/test_cloudvolume.py
Labels: bug

#460 feat: add cave-secret.json and allow for fqdn qualification
  README.md
  cloudvolume/datasource/graphene/metadata.py
  cloudvolume/secrets.py
Labels: feature, graphene, redesign

#465 Fix: multilod mesh vertex corruption
  cloudvolume/datasource/precomputed/mesh/multilod.py
  requirements.txt
Labels: bug

#464 feat(graphene): adds stop_layer to get_leaves for api v1
  cloudvolume/frontends/graphene.py
Labels: feature, graphene
