Repository seung-lab/cloud-volume, pull requests merged in 2022-11, with the labels that each got.

#562 fix (graphene): check spec exists up to max_meshed_layer
  cloudvolume/datasource/graphene/mesh/sharded.py
Labels: bug, meshes, graphene

#564 feat+perf(download_points): parallel point fetching
  README.md
  cloudvolume/datasource/precomputed/image/__init__.py
  cloudvolume/datasource/precomputed/metadata.py
  cloudvolume/frontends/graphene.py
  cloudvolume/frontends/precomputed.py
  test/test_cloudvolume.py
Labels: performance, images

#565 force level2 if bounding box
  cloudvolume/datasource/graphene/mesh/unsharded.py
Labels: redesign, meshes, graphene

#567 fix: ensure that at most max_mesh_layer will be requested from pcg
  cloudvolume/datasource/graphene/mesh/sharded.py
  cloudvolume/datasource/graphene/mesh/unsharded.py
  cloudvolume/datasource/graphene/metadata.py
Labels: bug, meshes, graphene

#569 fix: max_meshed_layer attribute error
  cloudvolume/datasource/graphene/mesh/sharded.py
Labels: bug, meshes, graphene

#571 feat: add warning for placeholder mips
  cloudvolume/datasource/precomputed/metadata.py
  cloudvolume/frontends/precomputed.py
Labels: feature
